{% load i18n %}
<html>
	<body style="font-family: Arial, sans-serif; line-height: 1.5; color: #333">
		<!-- Inline‑PNG via CID -->
		<p style="text-align: center; margin-bottom: 20px">
			<img src="cid:videoflix_logo" alt="{{ current_site.name }} Logo" width="250" height="40" style="display: block; margin: auto" />
		</p>

		<p>Dear {{ user.email }},</p>

		<p>
			{% blocktrans %}Thank you for registering with{% endblocktrans %}
			<a href="https://videoflix.com" style="color: #2e3edf; text-decoration: none; font-weight: bold">Videoflix</a>. {% blocktrans %}To complete your registration and verify your email address,
			please click the link below:{% endblocktrans %}
		</p>

		<p>
			<a href="{{ activate_url }}" style="display: inline-block; background-color: #2e3edf; color: white; text-decoration: none; padding: 10px 20px; border-radius: 40px">
				{% trans "Activate account" %}
			</a>
		</p>

		<p>{% blocktrans %}If you did not create an account with us, please disregard this email.{% endblocktrans %}</p>

		<p>
			{% blocktrans %}Best regards,{% endblocktrans %}<br /><br />
			{% blocktrans %}Your {{ current_site.name }} Team{% endblocktrans %}
		</p>
	</body>
</html>
