{% load i18n %} {% block subject %}{% trans "Activate your Videoflix account" %}{% endblock subject %} {% block text_body %} Hello {{ user.email }}, Please activate your account by clicking the
following link: {{ protocol }}://{{ domain }}/activate/{{ uid }}/{{ token }}/ If you didn't register, just ignore this email. {% endblock text_body %} {% block html_body %}
<html>
	<body style="font-family: sans-serif; color: #333">
		<p style="text-align: center">
			<img src="cid:videoflix_logo" alt="Videoflix Logo" style="width: 200px" />
		</p>
		<p>Hello {{ user.email }},</p>
		<p>Thank you for registering at Videoflix!</p>
		<p style="text-align: center">
			<a href="{{ protocol }}://{{ domain }}/activate/{{ uid }}/{{ token }}/" style="background: #2e3edf; color: #fff; padding: 10px 20px; border-radius: 4px; text-decoration: none">
				{% trans "Confirm your email address" %}
			</a>
		</p>
		<p>If you did not register, please ignore this message.</p>
		<p>Best regards,<br />Your Videoflix Team</p>
	</body>
</html>
{% endblock html_body %}
