{% load i18n %} {% block subject %}{% trans "Reset your Videoflix password" %}{% endblock subject %} {% block text_body %} Hello {{ user.email }}, To reset your password, click the link below: {{
protocol }}://{{ domain }}/activate/{{ uid }}/{{ token }}/ If you didn't request a reset, ignore this email. {% endblock text_body %} {% block html_body %}
<html>
	<body style="font-family: sans-serif; color: #333">
		<p style="text-align: center">
			<img src="cid:videoflix_logo" alt="Videoflix Logo" style="width: 200px" />
		</p>
		<p>Hello {{ user.email }},</p>
		<p>You requested a password reset.</p>
		<p style="text-align: center">
			<a href="{{ protocol }}://{{ domain }}/activate/{{ uid }}/{{ token }}/" style="background: #2e3edf; color: #fff; padding: 10px 20px; border-radius: 4px; text-decoration: none">
				{% trans "Reset your password" %}
			</a>
		</p>
		<p>If you didn't request this, just ignore it.</p>
		<p>Best regards,<br />Your Videoflix Team</p>
	</body>
</html>
{% endblock html_body %}
